{% extends 'base.html' %}
{% block content %}
    <section class="inner">
        <div class="inner">
            <header class="major">
                <h1>Listings</h1>
            </header>
        </div>
    </section>

    <div id="main">
        <!-- One -->
        <section id="one">
                <button style="float: right"><a href="/AllerNow/car/create/">Create a listing.</a></button><br>
            <div class="inner">
                <header class="major">
                    <h2>We found these cars for you </h2>
                </header>
            </div>
        </section>
        <!-- Two -->
        <section id="two" class="spotlights">
            {% for object in object_list %}
            <section style="display:{{ object.is_rented }}">
                <a href="{{ object.slug }}" class="image">
                    <img src={{ object.image_url }} data-position="center center" />
                </a>
                <div class="content">
                    <div class="inner">
                        <header class="major">
                            <h3>{{ object.name }} | {{object.brand}} | {{object.body_type}} |      {{object.price_per_unit}} | {{object.unit_size}} </h3>
                        </header>
                        <p> Transmission {{ object.transmission}}  </p>
                        <p> Kilometers {{  object.kilometers}}  </p>
                        <p> Seat {{   object.seats}}  </p>
                        <p> Condition {{  object.condition }}  </p>
                        <p> Year {{  object.year }}  </p>
                        <a href="/AllerNow/car/detail/{{ object.slug }}"><button class="btn btn-primary">View more</button></a>
                    </div>
                </div>
            </section>
            {% endfor %}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="/AllerNow/car/{{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="/AllerNow/car/{{ page_obj.next_page_number }}">Next</a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <p><br>End of listings.<br></p>
            {% endif %}
        </section>
    </div>
{% endblock %}