{% extends "base.html" %}
{% load static %}
{{ form.media }}
{% load crispy_forms_tags %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'AllerNow_car_list' %}">Car Listing</a></p>
<form method="post">
{% csrf_token %}
{{form|crispy}}
    <select name="owner" class="select" required="" id="id_owner" style="display:none"> <option value="{{ user.person.id }}" selected="">---------</option></select>
<button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}