{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'AllerNow_car_list' %}">Car Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>body_type</td>
    <td>location</td>
    <td>price_per_unit</td>
    <td>unit_size</td>
    <td>year</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.body_type }}</td>
    <td>{{ object.location }}</td>
    <td>{{ object.price_per_unit }}</td>
    <td>{{ object.unit_size }}</td>
    <td>{{ object.year }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'AllerNow_car_create' %}">Create new Car</a>
{% endblock %}