{% extends 'base.html' %}
{% block content %}
<!-- Banner -->
<!-- Note: The "styleN" class below should match that of the header element. -->
<section class="inner">
	<div class="inner">
		<header class="major">
			<h1>Dashboard</h1>
		</header>
	</div>
</section>

<!-- Main -->
<div id="main">
	<!-- One -->
		<div align="center" class="logged-in-box auth0-box logged-in">
			<img class="avatar" src="{{ auth0User.extra_data.picture }}"/>
			<h2>Welcome {{ user.first_name }}</h2>
			<h3>As you have logged in via social login, we have verified your account data to be the following:</h3>
			<pre>{{ user.first_name }} {{ user.last_name }} {{ user.email }}</pre>
			<button><a class="btn btn-primary btn-lg btn-logout btn-block" href="update"><b>Update my information</a></b><br></button>
		</div>
		<hr>
	<!-- Two -->
	<h2>Current Bookings:</h2>
		<section id="two" class="spotlights">
			{% for object in rentedCars %}
				<section style="display: '{{ object.is_rented }}'">
					<div class="row" >
						<div class="content column">
							<p> Payment ID: <a href="/AllerNow/payment/detail/{{ object.slug }}/">{{ object.slug }}</a></p>
							<p> Payment Date: {{ object.created }}</p>
							<img width="100px" src="{{ object.carchoice.image_url }}"/>
							<p> User: {{ object.carchoice.owner.first_name }} {{ object.carchoice.owner.last_name }} </p>
							<p> Rating: {{ object.carchoice.owner.rating }}/10</p>
						</div>
						<div class="content column">
							<div class="inner">
								<header class="major">
									<p>Details</p>
									<h3>{{ object.carchoice.name }} | {{ object.carchoice.brand }} | {{ object.carchoice.body_type }} | {{ object.carchoice.price_per_unit }} | {{ object.carchoice.unit_size }} </h3>
								</header>
								<p>From: {{ object.datefrom }}, Until: {{  object.dateto }}</p>
								<p><b>Purchased Days: {{ object.days }}</b></p>
							</div>
						</div>
						<p><b>Please message the lister of this car for pickup and dropoff information through private message:</b></p>
						{% with usertosend=object.carchoice.owner.user.username %}
							<a href="/messages/write/{{ usertosend }}/?subject=Enquiry for your {{ object.carchoice.body_type }} {{ object.carchoice.year }} request&body=I am enquiring about your vehicle {{ object.carchoice.name }} ..."><button class="btn btn-primary">Message</button></a>
						{% endwith %}
						<a id="{{ object.carchoice.id }}" style="display: none" href="/AllerNow/rating/{{ object.id }}/"></a>
						<script>
							function rate{{ object.carchoice.id }}(){
								var rating = prompt("What would you give this user out of 10?", "10");
								if (rating > 10) {
									alert("Invalid. 0 to 10 accepted.")
								} else {
									location.replace(document.getElementById("{{ object.carchoice.id }}").href + rating + "/");
								}
							}
						</script>
						<p><button onclick="rate{{ object.carchoice.id }}()" class="btn btn-primary">Rate This Booking</button></p>
						<a href="/messages/write/admin/?subject=Report for {{ object.id}}&body=Enter your report here."><button class="btn btn-primary">Report</button></a>
					</div>
				</section>
				<br>
			{% endfor %}
		</section>
	<h2>Your Listings:</h2>
	<!-- Two -->
	<section id="two" class="spotlights">
			{% for object in myCars %}
			<section  style="display: '{{ object.is_rented }}'">
				<div class="row" >
				<div class="content column">
				<a href="/AllerNow/car/update/{{ object.slug }}"><button>Edit</button></a>
				</div>
				<div class="content column">
					<div class="inner">
						<header class="major">
							<p>Details</p>
							<h3>{{ object.name }} | {{ object.brand }} | {{ object.body_type }} | {{ object.price_per_unit }} | {{ object.unit_size }} </h3>
						</header>
						<p>Listing name: {{ object.name }}  </p>
						<p>Created: {{ object.created }}</p>
					</div>
				</div>
				</div>
			</section>
			{% endfor %}
			<br>
		</section>
</div>
{% endblock %}