{% extends 'base.html' %}
{% block content %}
	<section id="banner" class="major">
		<div class="inner">
			<header class="major">
				<h1>Welcome to Aller Now</h1>
			</header>
			<div class="content">
				<p>A place to rent out or rent your own cars  <br />All within the click of a button.</p>
				
				<form id="searchform" action="{% url 'car_search_list_view' %}" method="get" accept-charset="utf-8">
						
						<input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
					<button class="searchbutton" type="submit">
							<i class="fa fa-search"></i>
						</button>
				</form>	
			</div>
		</div>
	</section>

	<!-- Main -->
	<div id="main">

		<!-- One -->
			<section id="one" class="tiles">
				<article>
					<span class="image">
						<img src="/static/images/pic01.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="/AllerNow/car/search/?q=bmw" class="link">BMW</a></h3>
						<p>View best BMW's on Offer</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="/static/images/pic02.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="/AllerNow/car/search/?q=holden" class="link">Holden</a></h3>
						<p>View top Holden's on Offer</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="/static/images/pic03.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="/AllerNow/car/search/?q=ford" class="link">Ford</a></h3>
						<p>View great Ford Offers</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="/static/images/pic04.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="/AllerNow/car/search/?q=mitsubishi" class="link">Mitsubishi</a></h3>
						<p>Check out Mitsubishi's Range</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="/static/images/pic05.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="/AllerNow/car/search/?q=hyundai" class="link">Hyundai</a></h3>
						<p>Hyundai's Deals</p>
					</header>
				</article>
				<article>
					<span class="image">
						<img src="/static/images/pic06.jpg" alt="" />
					</span>
					<header class="major">
						<h3><a href="/AllerNow/car/search/?q=mazda" class="link">Mazda</a></h3>
						<p>Check out Mazda's Offers</p>
					</header>
				</article>
			</section>

		<!-- Two -->
			<section id="two">
				<div class="inner">
					<header class="major">
						<h2>Car Rentals</h2>
					</header>
					<p>We here at Aller Now want to provide a means to allow for car owners and car renters to be able to benefit from our website. We aim to allow for streamlined and simple car rentals to take place between car owners and renters.</p>
					<ul class="actions">
						<li><a href="/AllerNow/car/" class="button next">View All Listings</a></li>
					</ul>
				</div>
			</section>

	</div>

	<!-- Contact -->
	<section id="contact">
		<div class="inner">
			<section class="split">
				<section>
					<div class="contact-method">
						<span class="icon alt fa-envelope"></span>
						<h3>Email</h3>
						<a href="#">alexander@iaas.design</a>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<span class="icon alt fa-phone"></span>
						<h3>Phone</h3>
						<span>(04) 5158 0758</span>
					</div>
				</section>
				<section>
					<div class="contact-method">
						<span class="icon alt fa-home"></span>
						<h3>Address</h3>
						<span>1 Northfields Avenue #2500<br />
						Wollongong, NSW<br />
						Australia</span>
					</div>
				</section>
			</section>
		</div>
	</section>
{% endblock %}