{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'app_name_person_list' %}">Person Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>first_name</td>
    <td>last_name</td>
    <td>date_of_birth</td>
    <td>phone_number</td>
    <td>postcode</td>
    <td>email</td>
    <td>rating</td>
    <td>address</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.first_name }}</td>
    <td>{{ object.last_name }}</td>
    <td>{{ object.date_of_birth }}</td>
    <td>{{ object.phone_number }}</td>
    <td>{{ object.postcode }}</td>
    <td>{{ object.email }}</td>
    <td>{{ object.rating }}</td>
    <td>{{ object.address }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'app_name_person_create' %}">Create new Person</a>
{% endblock %}